pyiceberg[pyarrow,duckdb,pandas]==0.9.1
matplotlib==3.9.4
scipy==1.14.1
duckdb-engine==0.17.0
dbt-core
sqlalchemy
dbt-dremio
dbt-postgres
psycopg2-binary
grpcio==1.73.0
pycolor==1.2.1
papermill==2.6.0
pyspark==3.5.6
fastparquet==2023.10.0
boto3==1.28.39
airflow-provider-great-expectations
apache-airflow-providers-common-sql
apache-airflow-providers-apache-spark